/** Variables **/
/** Fonts **/
/** Colors **/
/** Mixins **/
/* Paragraph Text */
p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  font-family: "Crimson Text", serif;
  color: #333333; }

p:first-letter {
  font-size: 50px; }

/* Links */
a {
  text-decoration: none;
  color: #cc6600; }
  a:hover {
    color: #333333; }

/* Headers */
h1#page-title {
  margin-top: 0px;
  font-size: 2.6em;
  line-height: 100%;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #cc6600;
  clear: both;
  text-shadow: 2px 2px 2px #333; }
h1#site-name {
  margin-bottom: 0px;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 2.8em;
  line-height: 40px;
  margin-top: 40px; }
  h1#site-name a {
    color: #333333; }

h2 {
  margin-top: 0px;
  font-size: 1.3em;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #cc6600; }
  h2 #site-slogan {
    font-family: "Crimson Text", serif;
    font-size: 1.0em;
    color: #333333;
    margin-top: 0px; }

h3 {
  margin-top: 0px;
  font-size: 1.5em;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #333;
  margin-bottom: 15px;
  text-decoration: underline; }

h4 {
  color: #fff;
  font-family: "Crimson Text", serif;
  margin-bottom: 0px; }

/** Title of Each post **/
.views-field-title {
  margin-top: 0px;
  font-size: 2.6em;
  line-height: 100%;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #cc6600;
  clear: both;
  text-shadow: 2px 2px 2px #333; }
  .views-field-title a:hover {
    text-decoration: underline; }

body {
  max-width: 765px;
  margin: 0 auto;
  font-size: 100%;
  min-height: 800px; }

/** Header Styles **/
header {
  margin-bottom: 30px; }

ul#main-menu {
  font-family: "Crimson Text", serif;
  color: #333333;
  font-size: 0.8em; }
  ul#main-menu li {
    padding: 0px 10px 0px 0px; }
    ul#main-menu li a {
      color: #333333;
      font-weight: normal; }
      ul#main-menu li a:hover {
        color: #cc6600; }

#site-info {
  float: left;
  padding-top: 10px; }

tr {
  display: block; }

#main-wrapper .views-field-body {
  margin-bottom: 5%; }

img {
  max-width: 100%;
  height: auto; }

/* LOGO */
#logo {
  float: right;
  padding-top: 22px;
  padding-right: 10px; }
  #logo img {
    width: 75px;
    height: 75px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%); }
    #logo img:hover {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }

/* Admin Styles */
.submitted {
  display: none; }

.show {
  height: 50%;
  background-color: rgba(37, 37, 37, 0.9); }

@media (min-width: 240px) and (max-width: 480px) {
  #site-info {
    float: none;
    text-align: center;
    padding-top: 15px; }

  h1#site-name {
    padding-bottom: 15px;
    margin-top: 0px;
    line-height: 20px; }

  header {
    margin-bottom: 5px; }

  #logo {
    float: none;
    padding-left: 22%; }

  #page .content {
    padding-left: 10px;
    padding-right: 10px; }

  .region-content {
    padding-left: 0px; }

  .views-field-title {
    font-size: 2.4em; }

  p {
    font-size: 22px;
    line-height: 27px;
    padding: 0px 15px 0px 15px; } }
@media (max-width: 768px) {
  #page .content, header {
    padding-left: 10px;
    padding-right: 10px; }

  .region-content {
    padding-left: 1%; } }
