/* Layout */

body {
	max-width: 765px;
	margin: 0 auto;
	font-size: 100%;
	min-height: 800px;
}

/** Header Styles **/

ul#main-menu {
	font-family: $crimson;
	color: $grey;
	font-size: 0.8em;
	li {
		padding: 0px 10px 0px 0px;
		a {
			color: $grey;
			&:hover {
				color: $orange;
			}
		}
	}
}

#site-info {
	float: left;
	padding-top: 40px;
}

tr {
	display:block;
}

#node-9 p {
	margin-bottom: 20px;
}