$width-small: 240px;
$width-medium: 500px;
$width-large: 700px;

@media (min-width: $width-small) and (max-width: $width-medium) and (orientation: portrait) {

	#site-info {
		float: none;
		text-align: center;
	}

	#logo {
		float: none;
		padding-left: 22%;
	}

	#page .content {
		padding-left: 10px;
		padding-right: 10px;
	}

}

@media (max-width: $width-large) and (orientation: landscape) {

	#page .content, header {
		padding-left: 10px;
		padding-right: 10px;
	}

}