.target-row {
	@include box-shadow;
	float:left;
	position: relative;
	cursor: pointer;
	margin-right: 35px;
	margin-bottom: 35px;
	img {
		max-width: 100%;
		height: 150px;
	}
}

.info-wrap {
	position: absolute;
	color: #ccc;
	bottom: 0px;
	left: 0px;
	padding: 10px 0px 10px 0px;
	width: 100%;
	font-family: $crimson;
	background-color: rgba(37,37,37,0.9);
}

.tt  {
	text-align:center;
	font-size:14px;
	margin-bottom: 5px;
}

.work {
	text-align:center;
	font-size:14px;
   	a {
		&:hover {
			color: $orange;
			text-decoration:underline;
		}
	}
	p {
		color: #fff;
	}
}

/* Admin Styles */

.submitted {
	display:none;
}

.show {
	height: 50%;
	background-color: rgba(37,37,37,0.9)
}