/* ==========================================================================
   Header Styles
   ========================================================================== */

header {
	margin-bottom:30px;
}

#site-info {
	float: left;
	padding-top: 10px;
}