/* ==========================================================================
   Media Queries
   ========================================================================== */

$width-small: 240px;
$width-medium: 480px;
$width-large: 768px;

@media (min-width: $width-small) and (max-width: $width-medium) {


	p {
		font-size: 22px;
		line-height: 27px;
		padding: 0px 15px 0px 15px;
	}
	
	.views-field-title, .view h2 {
		font-size: 2.4em;
	}
	
	#site-info {
		float: none;
		text-align: center;
		padding-top: 15px;
	}

	#site-name {
		padding-bottom: 15px;
		margin-top: 0px;
		line-height: 20px;
	}

	#logo {
		float: none;
		padding-left: 22%;
	}

	.content {
		padding-left: 10px;
		padding-right: 10px;
	}

	.region-content {
		padding-left: 0px;
	}

	header {
		margin-bottom: 5px;
	}
}

@media (max-width: $width-large) {

	#page .content, header {
		padding-left: 10px;
		padding-right: 10px;
	}

	.region-content {
		padding-left: 1%;
	}
}