/* ==========================================================================
   Pager Styles
   ========================================================================== */

.pager-current {
	color: $grey;
}

li[class^='pager-'] {
	text-transform: $up;
	padding-right: 0px;
	padding-left: 0px;
	@include font-size(12px);
	background-color: #dfdfdf;
	border: 1px solid #ccc;
	@include border-radius(6px);
}

.item-list ul li {
	margin-left: 5px;
}
