/* ==========================================================================
   Pager Styles
   ========================================================================== */

/**
 * Full and Mini Pager Styles
 */
.pager-current {
	color: $grey;
	font-size: 0.8em;
}

li[class^='pager-'] {
	text-transform: $up;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 0.8em;
}
