/* ==========================================================================
   Posts
   ========================================================================== */

/**
 * Spacing between each Post
 */
.field-content,
.views-row,
.node-article,
.node-posts {
	margin-bottom: 5%;
}

/**
 * Blockquote
 */
blockquote,
code {
	background-color: $lo;
	padding: 30px 20px 20px 20px;
	@include border-radius(10px);
}

/**
 * Readmore & Comments
 */
#block-system-main .node-readmore {
	float:right;
	display: inline;
	margin-right: 3px;
	background-color: none;
	padding: 4px;
	@include font-size(12px);
}

.node-readmore,
.comment-comments {
	text-transform: $up;
	@include font-size(12px);
	a:hover {
		text-decoration: $line;
	}
}
