/* ==========================================================================
   Posts
   ========================================================================== */
.field-content, .views-row {
	margin-bottom: 5%;
}

blockquote {
	background-color: #fff7eb;
	padding: 5px 20px 20px 20px;
}