/* ==========================================================================
   Comment Styles
   ========================================================================== */

#comments {
	h2 {
		text-align: center;
		font-size: 1.8em;
		clear:both;
		margin-top: 40px;
		padding-top: 40px;
	}
	h3 a:hover {
		text-decoration: $line;
	}
}

.comment {
	margin-bottom: 6%;
	p {
		padding-left: 20px;
		padding-right: 20px;
		word-wrap: break-word;
				&:first-letter {
			font-weight: normal;
			font-size: 1.0em;
		}
	}
}

/**
 * If you want to include number of comments link and "add new comment" link
 * uncomment this css and comment out the display none below
 */
/** #block-system-main .comment-add {
	@extend .field-type-taxonomy-term-reference;
	padding-left: 0px;
	margin-top: 30px;
	text-align:left;
	background-color: $lo;
	a {
		color: $grey;
		background-color: $lo;
		font-weight: normal;
		display:inline;
		float:left;
		padding: 3px 3px 3px 5px;
		&:hover {
				text-decoration: $line;
		}
	}

} **/

#block-system-main {
	.comment-add,
	.comment-comments {
		display: none;
	}
}
