/* ==========================================================================
   Comment Styles
   ========================================================================== */

#comments h2 {
	text-align: center;
	font-size: 1.8em;
}

#comments h3 a:hover {
	text-decoration: $line;
}

.comment-add {
	text-decoration: $line;
}

.view .comment-add {
	display: none;
}

#block-system-main .comment-add {

}

.comment {
	margin-bottom: 6%;
	p {
		padding-left: 20px;
		padding-right: 20px;
	}
}