img {
	max-width: 100%;
	height: auto;
}

/* LOGO */

#logo  {
	float: right;
	padding-top: 22px;
	padding-right: 10px;
	img {
		width: 75px;
		height: 75px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		background: url(http://link-to-your/image.jpg) no-repeat;
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		filter: grayscale(0%);
		&:hover {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
		}
	}
}