/* ==========================================================================
   Main Styles
   ========================================================================== */

#main-menu {
	font-family: $crimson;
	color: $grey;
	li {
		padding: 0px;
		margin-top: 0px;
		a {
			font-size: .5em;
			color: $grey;
			font-weight: normal;
			font-family: $crimson;
			text-shadow:none;
			margin-top: 0px;
			&:hover {
				color: $orange;
			}
		}
	}
}

#site-slogan {
	width: 100%;
	text-align: left;
	margin-top: -15px;
}