/* ==========================================================================
   Main Styles
   ========================================================================== */

/**
 * Main Menu Styles
 */
#menu {
	font-family: $crimson;
	color: $grey;
	width: 100%;
	text-align: left;
	li {
		padding: 0px;
		margin-top: 0px;
		a {
			font-size: 1.2em;
			color: $grey;
			padding-right: 8px;
			font-weight: normal;
			font-family: $crimson;
			text-shadow:none;
			margin-top: 0px;
			&:hover {
				color: $orange;
			}
		}
	}
}
