/* ==========================================================================
   Tag Styles
   ========================================================================== */
   
.field-type-taxonomy-term-reference  {
	text-transform: $up;
	font-size: 0.8em;
		.field-label {
			color: $grey;
			background-color: #fff7eb;
			font-weight: normal;
			display:inline;
			float:left;
			padding: 3px 3px 3px 5px;
		}
		.field-item {
			display: inline;
			float:left;
			margin-right: 5px;
			padding: 3px;
			&:hover {
				text-decoration: $line;
			}
		}
}

.field-type-datetime {
	text-transform: $up;
	font-size: 0.9em;
	.field-item {
			background-color: #fff7eb;
			display: inline;
			float:right;
			margin-right: 5px;
			padding: 3px;
	}
}