/* ==========================================================================
   Tag Styles
   ========================================================================== */

/**
 * Tag Styles
 */
.field-type-taxonomy-term-reference  {
	text-transform: $up;
	@include font-size(12px);
	margin-top: 30px;
		.field-label {
			color: $grey;
			background-color: $lo;
			font-weight: normal;
			display:inline;
			float:left;
			padding: 3px 3px 3px 8px;
			border: 1px solid #eee;
			margin-right: 2px;
		}
		.field-item {
			display: inline;
			float:left;
			margin-right: 5px;
			padding: 3px;
			&:hover {
				text-decoration: $line;
			}
		}
}

/**
 * Date Styles
 */
.field-type-datetime {
	text-transform: $up;
	@include font-size(14px);
	.field-label {
		display: none;
	}
	.field-item {
			background-color: $lo;
			display: inline;
			float:right;
			margin-right: 5px;
			padding: 3px;
			border: 1px solid #eee;
	}
}
