/* Paragraph Text */

p {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
	font-family: $crimson;
	color: $grey;
}

p:first-letter {
	font-size: 50px;
}

/* Links */

a {
	text-decoration:none;
	color: $orange;
	&:hover {
		color: $grey;
	}
}

/* Headers */

h1 {
	&#page-title {
		margin-top: 0px;
		font-size: 2.6em;
		line-height: 100%;
		margin-bottom: 25px;
		text-align:center;
		text-transform: uppercase;
		font-family: $neuton;
		color: $orange;
		clear:both;
		text-shadow: 2px 2px 2px #333;
	}

	&#site-name {
		margin-bottom: 0px;
		font-family: $crimson;
		font-weight: 700;
		font-size: 2.8em;
		line-height: 40px;
		margin-top: 40px;
		a {
			color: $grey;
		}
	}
}

h2 {
	margin-top: 0px;
	font-size: 1.3em;
	line-height: 100%;
	text-transform: uppercase;
	font-family: $neuton;
	color: $orange;
	#site-slogan {
	    font-family: $crimson;
		font-size: 1.0em;
	    color: $grey;
	    margin-top: 0px;
	}
}

h3 {
  margin-top: 0px;
  font-size: 1.5em;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #333;
  margin-bottom: 15px;
  text-decoration: underline;
}

h4 {
	color: #fff;
    font-family: $crimson;
    margin-bottom: 0px;
}

/** Title of Each post **/

.views-field-title {
	margin-top: 0px;
	font-size: 2.6em;
	line-height: 100%;
	margin-bottom: 25px;
	text-align:center;
	text-transform: uppercase;
	font-family: $neuton;
	color: $orange;
	clear:both;
	text-shadow: 2px 2px 2px #333;
	a:hover {
		text-decoration: underline;
	}
}