/* ==========================================================================
   Typography
   ========================================================================== */

/** Paragraphs and Links **/

p {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
	font-family: $crimson;
	color: $grey;
	a:hover {
		text-decoration: $line;
	}
}

p:first-letter {
	font-size: 55px;
	font-family: $crimson;
	font-weight: bold;
}

/* Links */

a {
	text-decoration: none;
	color: $orange;
}

/* ==========================================================================
   Headers
   ========================================================================== */

/** All Headings **/
#{headings()} {
	margin-top: 0px;
	line-height: 100%;
}

/** Headings 2, 3 **/
#{headings(2, 3)} {
	font-family: $lato;
}

h2 {
	font-size: 1.3em;
	color: $orange;
	text-transform: $up;
}

h3 {
  color: $grey;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: normal;
  font-family: $lato;
  font-size: 2.4em;
}

h4 {
	color: #fff;
    font-family: $crimson;
    margin-bottom: 0px;
}

/** Main Titles **/

.views-field-title, .view h2, #page-title {
	text-shadow: $shadow;
	text-align:center;
		text-transform: $up;
		margin-top: 0px;
		font-size: 2.6em;
		line-height: 100%;
		margin-bottom: 25px;
		font-family: $lato;
		color: $orange;
		clear: both;
		font-weight: normal;
		a:hover {
			color: $grey;
		}
}

#site-name {
		margin-bottom: 0px;
		font-family: $crimson;
		font-weight: 700;
		font-size: 2.8em;
		line-height: 45px;
		margin-top: 40px;
		a {
			color: $grey;
			&:hover {
				color: $orange;
			}
		}
}