/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Paragraphs and Links
 */
p {
	font-family: $crimson;
	color: $grey;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
	a:hover {
		text-decoration: $line;
	}
}

p:first-letter {
	font-family: $crimson;
	font-size: 55px;
	font-weight: bold;
}

/**
 * Links
 */
a {
	color: $orange;
	text-decoration: none;
}

/* ==========================================================================
   Headers
   ========================================================================== */

#{headings()} {
    line-height: 100%;
    font-family: $lato;
	margin-top: 0px;
	font-weight: normal;
	
}

h1 {
	font-size: 2.4em;
}

h2, .views-field-title, #page-title {
    text-shadow: $shadow;
	text-align:center;
	text-transform: $up;
	margin-top: 0px;
	font-size: 2.6em;
	line-height: 100%;
	margin-bottom: 25px;
	font-family: $lato;
	color: $orange;
	clear: both;
	font-weight: normal;
	a:hover {
		color: $grey;
	}
}

#page-title {
	margin-bottom: 0px;
}

h3 {
	font-size: 2.0em;
  	color: $grey;
  	margin-bottom: 15px;
  	text-decoration: none;
}

h4 {
	font-size: 1.8em;
}

/**
 * Name of your site
 */
#site-name {
	margin-bottom: 0px;
	font-family: $crimson;
	font-weight: 700;
	font-size: 2.8em;
	margin-top: 40px;
	a {
		color: $grey;
		&:hover {
			color: $orange;
		}
	}
}