/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Main Fonts
 */
$crimson: 'Crimson Text', serif;
$lato: 'Lato', sans-serif;
$medieval: 'MedievalSharp', cursive;

/**
 * Main Colors
 */
$orange: #CC6600;
$grey: #333;

/**
 * Text Shadow
 */
$shadow: 2px 2px 2px #333; 

/**
 * Text Decoration
 */
$line: underline;
$up: uppercase;